body {
    background-image: url('divtec-cejef/cv-01-html-ZdorMak/tree/main/img');
            background-repeat: no-repeat; /* Отключает повтор */
            background-size: cover; /* Масштабирует изображение по размеру экрана */
            background-position: center; /* Центрирует изображение */
            background-attachment: fixed; /* Фиксирует фон при прокрутке */
            margin: 0;
}
main {
    
}

h1 {

}

h2 {
    color: #f5f5f5;
}

p {
    
}
a {
    color: #dcdde1;
}

