body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1a1a2e, #16213e 50%, #0f3460 75%, #53354a);  
    align-items: center;
    color: FloralWhite;
}
header {
    text-align: center;
    color: BlanchedAlmond ;
  
}
header img {
    border-radius: 10%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
header p {
    margin: 5px 0;
}
nav {
    background-color: MidnightBlue;
    color: white;;
}
nav ul {
    outline-style: inset;
    padding: 10px;
    text-align: center;
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: Salmon;
    text-decoration: underline;
}
main {
    padding: 20px;
    margin: 20px auto;
    max-width: 850px;
}
section {
    margin-bottom: 20px;
  
}
section h2 {
    font-size: 1.8rem;
    border-bottom: 4px solid MidnightBlue;
}
section h3 {
    font-size: 1.4rem;
    margin-top: 15px;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: MidnightBlue;
    color: white;
    font-size: 0.9rem;
}
